<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.sale.supermarketboot.dao.MemberRecordDao">
    <insert id="addRecord">
        insert into tb_member_record (id,`member_id`,user_id,order_number,`sum`,balance,received_points,checkout_time)
        values (
        #{id,jdbcType=INTEGER},
        #{memberId,jdbcType=INTEGER},
        #{userId,jdbcType=INTEGER},
        #{orderNumber,jdbcType=INTEGER},
        #{sum,jdbcType=DOUBLE},
        #{balance,jdbcType=DOUBLE},
        #{receivedPoints,jdbcType=INTEGER},
        #{checkoutTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="getRecord" resultType="com.sale.supermarketboot.pojo.MemberRecord">
        SELECT
        *
        FROM
        `ttb_member_record`
        WHERE
        <if test="id != 0">
            `id` = #{id}
        </if>
    </select>

    <update id="updateRecord">
        update `tb_member_record`
        <trim prefix="set" suffixOverrides=",">
            <if test=" memberId !=null and memberId !='' ">`member_id` = #{memberId,jdbcType=INTEGER},</if>
            <if test=" userId !=null and userId !='' ">`user_id` = #{userId,jdbcType=INTEGER},</if>
            <if test=" orderNumber !=null and orderNumber !='' ">order_number = #{orderNumber,jdbcType=INTEGER},</if>
            <if test=" sum !=null and sum !='' ">`sum` = #{sum,jdbcType=DOUBLE},</if>
            <if test="balance !=null and balance !=''">balance = #{balance,jdbcType=DOUBLE}</if>
            <if test=" receivedPoints !=null and receivedPoints !='' ">received_points = #{receivedPoints,jdbcType=INTEGER},</if>
            <if test=" checkoutTime !=null and checkoutTime !='' ">checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}</if>
        </trim>
        where
            member_id = #{memberId} and order_number = #{orderNumber}
    </update>
    <delete id="deleteRecord">
        delete
        from tb_member_record
        where
        <if test="name !=null and phone != ''">
            `name` = #{name} and phone={phone}
        </if>
    </delete>

</mapper>